<!DOCTYPE html>
<html>

<head th:replace="common/head"></head>

<body>
	<nav th:replace="common/navbar"></nav>
	<div class="p-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-tabs" id="tabs">
						<li class="nav-item"><a class="active nav-link"
							href="javascript:changeTab('userManage')" id="userManage_tab">User
								Manage</a></li>
						<li class="nav-item"><a class="nav-link"
							href="javascript:changeTab('roleManage')" id="roleManage_tab">Role
								Manage</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="admin/userManage"></div>
	<div th:replace="admin/roleManage"></div>
	
	<div th:replace="common/pageBar"></div>
	
	<div th:replace="common/foot"></div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
		integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
		integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
		crossorigin="anonymous"></script>

	<script type="text/javascript"
		th:src="@{/js/plugins/jquery-3.2.1.min.js}"></script>

	<script type="text/javascript" th:src="@{/js/home.js}"></script>
	<script type="text/javascript" th:src="@{/js/admin.js}"></script>
	<script type="text/javascript" th:src="@{/js/plugins/vue.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/user.js}"></script>

</body>

</html>