<style type="text/css">
.col-md-12 {
    padding-bottom: 5px;
}
.table th, .table td {
    padding: 0.5rem;
}
.btn {
    padding: 0.25rem 0.75rem 0.25rem;
}
</style>
<div class="py-0" id="roleManage" style="display: none" name="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span class="lead w-25">Role Li</span>
				<button type="submit" class="btn btn-primary" style="float: right">+</button>
				<span style="float: right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<button type="submit" class="btn btn-primary" style="float: right">Search</button>
				<input class=" mr-2 w-25 ml-auto" type="text"
					placeholder="User Name" style="float: right">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Title</th>
							<th>Auther</th>
							<th>create Time</th>
							<th>Status</th>
							<th>Traitement</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Mark</td>
							<td>Otto</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Jacob</td>
							<td>Thornton</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Larry</td>
							<td>the Bird</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

