<style type="text/css">
.col-md-12 {
    padding-bottom: 5px;
}
.table th, .table td {
    padding: 0.5rem;
}
.btn {
    padding: 0.25rem 0.75rem 0.25rem;
    height: 2.4rem;
}
</style>
<div class="py-0" id="detail" name="content"  style="display:none">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span class="lead w-25">Role List </span>
				<button type="submit" class="btn btn-primary" style="float: right" th:text="#{return}"></button>
				<button type="submit" class="btn btn-primary form-control" style="float: right"  th:text="#{edit}"></button>
				<input class=" mr-2 w-25 ml-auto" type="text"
					placeholder="User Name" style="float: right">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Role name</th>
							<th>Adress</th>
							<th>Telephone</th>
							<th>Mail</th>
							<th>Traitement</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Mark</td>
							<td>Otto</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Jacob</td>
							<td>Thornton</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Larry</td>
							<td>the Bird</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

