
<style type="text/css">
.col-md-12 {
	padding-bottom: 5px;
}

.table th, .table td {
	padding: 0.5rem;
}

.btn {
	padding: 0.25rem 0.75rem 0.25rem;
	height: 2.4rem;
}

#myModal {
	opacity: 1;
}

.fade.show {
	opacity: 0.5;
}
#myModal > div > div {
    top: 100px;
}
</style>

<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" th:text="#{confirmation}"></h4>
			</div>
			<div class="modal-body">
				<p th:text="#{deleteAnnounceMsg}"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default"
					onclick="deleteAnnounce()" data-dismiss="modal" th:text="#{yes}">Yes</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{cancel}">Cancel</button>
			</div>
		</div>

	</div>
</div>

<div class="py-0" id="announceManage" name="content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span class="lead w-25" th:text="#{announces}"></span> <span
					style="float: right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<button type="submit" class="btn btn-primary" style="float: right"
					onclick="find()" th:text="#{search}"></button>
				<input class=" mr-2 w-25 ml-auto form-control" type="text"
					th:placeholder="#{title}" style="float: right" v-model="search">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th th:text="#{title}"></th>
							<th th:text="#{type}"></th>
							<th th:text="#{status}"></th>
							<th th:text="#{createTime}"></th>
							<th th:text="#{operation}"></th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="announce in datas.content">
							<td>{{announce.id}}</td>
							<td>{{announce.title}}</td>
							<td>{{announce.typeStr}}</td>
							<td>{{announce.statusStr}}</td>
							<td>{{announce.createTimeStr}}</td>
							<td><a
								v-bind:href="'javascript:deleteAnnounce('+announce.id+')'"
								th:text="#{delete}" data-toggle="modal" data-target="#myModal"
								@mousedown="toDeleteF(announce.id)">Delete</a>/ <a
								v-bind:href="'javascript:deleteUser('+announce.id+')'"
								th:text="#{edit}">Modife</a>/ <a
								v-bind:href="'javascript:deleteUser('+announce.id+')'"
								th:text="#{detail}">Detail</a></td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div th:replace="common/pageBar"></div>
<script type="text/javascript"
	th:src="@{/js/admin/announce/list.js}"></script>

