<div class="py-5 bg-dark text-white">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center align-self-center">
				<p class="mb-5">
					<strong>Pingendo Inc.</strong> <br>795 Folsom Ave, Suite 600 <br>San
					Francisco, CA 94107 <br> <abbr title="Phone">P:</abbr> (123)
					456-7890
				</p>
				<div class="my-3 row">
					<div class="col-4">
						<a href="https://www.facebook.com" target="_blank"><i
							class="fa fa-3x fa-facebook"></i></a>
					</div>
					<div class="col-4">
						<a href="https://twitter.com" target="_blank"><i
							class="fa fa-3x fa-twitter"></i></a>
					</div>
					<div class="col-4">
						<a href="https://www.instagram.com" target="_blank"><i
							class="fa fa-3x fa-instagram"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-6 p-0"></div>
		</div>
	</div>
</div>