

<style type="text/css">
span.nav-link {
	color: white;
}
</style>
<nav class="navbar navbar-expand-md bg-secondary navbar-dark"
	th:fragment="navbar">
	<div class="container" id="navbar">
		<a class="navbar-brand" th:href="@{/}"><i
			class="fa fa-home fa-home"  th:text="' '+#{navbar.title}"></i></a>
		<button class="navbar-toggler navbar-toggler-right" type="button"
			data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">


				<li class="nav-item" sec:authorize="!hasRole('ROLE_USER')"><a th:text="#{login}"
					class="nav-link" th:href="@{/login}"></a></li>
				<li class="nav-item" sec:authorize="!hasRole('ROLE_USER')"><a th:text="#{signUp}"
					class="nav-link" th:href="@{/signup}"></a></li>
				<li class="nav-item" sec:authorize="hasRole('ROLE_USER')"><a
					class="nav-link" th:text="#{navbar.myCircle}" th:href="@{http://www.google.com}"></a></li>
				<!-- 
				<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a
					class="nav-link" th:href="@{/user/manage}">Manage Users</a></li>
				<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a
					class="nav-link" th:href="@{/role/manage}">Manage Roles</a></li>
					 -->

			</ul>
			<span class="nav-link"
				th:if="${#httpServletRequest.getUserPrincipal()} != null"
				th:text="#{navbar.welcome}+'&nbsp;&nbsp;'+${#httpServletRequest.getUserPrincipal()?.getName()}"></span>
			<a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" th:text="#{navbar.admin}"
				th:href="@{/admin}"></a>

			<form id="logoutForm" class="form-inline m-0"
				sec:authorize="hasRole('ROLE_USER')" th:action="@{/logout}"
				method="post">
				<a class="nav-link" href="javascript:logout();" th:text="#{navbar.logout}"></a>
			</form>
		</div>
	</div>
</nav>

<script type="text/javascript" th:src="@{../js/plugins/vue.min.js}"></script>
<script type="text/javascript" th:src="@{../js/common.js}"></script>