<style type="text/css">
h2,h1 {
	color: #ff9e07;
	display: inline;
}
h5{
	display: inline;
	color: #868e96;
}

img.img-fluid.d-block.mb-4 {
	width: 100%;
	height: 230px;
}

#list>div>div>div>div {
	background-color: rgba(52, 58, 64, 0.4);
	margin-bottom: 10px;
	padding-left: 5px;
	padding-bottom: 1px;
}

#list>div>div>div {
	text-align: left !important;
	left: 0% !important;
	padding-bottom: 10px !important;
}

#list>div>div {
	padding-right: 5px !important;
	padding-left: 0px !important;
}
#list > div>div> img {
    width: 100%;
    height: 230px;
    border: 1px solid;
    border-color: rgba(221, 221, 221, 0.31);
}
#list > div>div > div > div > h6 > b > a {
    color: white;
}
</style>

<div id="list">

	<div class="row">
		<div class="col-md-12">
			<span class="lead w-25"><h2>
					<b th:text="#{secondHand}"></b>
				</h2></span>|
				<span class="lead w-25"><h5><a class="share" th:href="@{/share}" th:text="#{share}"></a>
				</h5></span>&nbsp;|
				<span class="lead w-25"><h5><a class="share" href="#" th:text="#{question}"></a>
				</h5></span>
			<button type="submit" class="btn btn-primary" style="float: right"
				onclick="showAddAnnounce()" th:text="#{wantToPublish}">我要发布+</button>
			<span style="float: right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<button type="submit" class="btn btn-primary" style="float: right"
				onclick="find()">Search</button>
			<input class="form-control mr-2" type="text" placeholder="Title"
				style="float: right" v-model="search">
		</div>
	</div>
	<hr>
	<div class="row">
		<template v-for="announce in announces">

		<div class="col-md-3 my-3">
			<img v-if="announce.pictures.length==0"
				class="img-fluid d-block mb-4" th:src="@{/img/secondHand.jpg}">
			<img v-else class="img-fluid d-block mb-4"
				:src="'/userImg/'+announce.pictures[0].fileName">
			<div class="carousel-caption">
				<div>
					<h2>
						<b>{{announce.price}}&nbsp;€</b>
					</h2>
					&nbsp;&nbsp;
					<h6>
						<b><a v-bind:href="'/secondHand?content=detail&id='+announce.id">{{announce.title}}</a></b>
					</h6>
				</div>
			</div>
			<!-- <p class="mt-1">{{announce.description}}</p> -->
		</div>
		</template>
	</div>
	
</div>
<div th:replace="common/pageBar"></div>

<script type="text/javascript" th:src="@{/js/announce/secondHand/list.js}"></script>


