<script type="text/javascript" th:src="@{/js/announce/secondHand.js}"></script>
<style type="text/css">
h1 {
	color: #ff9e07;
}

h1, h5 {
	display: inline;
}
img.img-fluid.d-block.mb-4 {
    width: 100%;
    height: 170px;
}
</style>

<div id="listPage">

	<div class="row">
		<div class="col-md-12">
			<span class="lead w-25""><h1>
					<b th:text="#{secondHand}"></b>
				</h1></span>
			<button type="submit" class="btn btn-primary" style="float: right"
				onclick="showAddSecondHand()" th:text="#{wantToPublish}">我要发布+</button>
			<span style="float: right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<button type="submit" class="btn btn-primary" style="float: right"
				onclick="find()">Search</button>
			<input class="form-control mr-2" type="text" placeholder="Title"
				style="float: right" v-model="search">
		</div>
	</div>
	<hr>
	<div class="row" id="list">
		<template v-for="announce in announces">

		<div class="col-md-3 my-3">
			<img v-if="announce.pictures.length==0"
				class="img-fluid d-block mb-4" th:src="@{/img/secondHand.jpg}">
			<img else class="img-fluid d-block mb-4"
				:src="'/userImg/'+announce.pictures[0].fileName">
			<h1>
				<b>2€</b>
			</h1>
			&nbsp;&nbsp;
			<h5>
				<b><a v-bind:href="'javascript:showDetail('+announce.id+')'">{{announce.title}}</a></b>
			</h5>
			<!-- <p class="mt-1">{{announce.description}}</p> -->
		</div>
		</template>
	</div>
	<div th:replace="common/pageBar"></div>
</div>


